{% extends 'base.html' %}
{% block content %}

<div class="row d-flex justify-content-center my-3">
    <div class="col-2 m-1 bg-primary">
        <p>Your keys</p>
        <p>1. Gallifreyan</p>
        <p>2. Wave script</p>
        <button class="btn btn-secondary" type="button">
            New Cipher
        </button>

    </div>
    <div class="col-9 m-1">
        <div class="row ">
            <div class="col-12 m-1 p-2 bg-primary ">
                <button class="btn btn-secondary mx-1" type="button">
                    Letters
                </button>
                <button class="btn btn-secondary mx-1" type="button">
                    Pen Size
                </button>
                <button class="btn btn-secondary mx-1" type="button">
                    Fill
                </button>
                <button class="btn btn-secondary mx-1" type="button">
                    Background
                </button>
                <button class="btn btn-secondary mx-1" type="button">
                    Upload
                </button>
                <button class="btn btn-secondary mx-1" type="button">
                    Ad. Tools
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-12 m-1 bg-primary d-flex justify-content-center p-1">
                <p><a href="/create">A</a>
                <a href="/create">a</a>
                <a href="/create">B</a>
                <a href="/create">b</a>
                <a href="/create">C</a>
                <a href="/create">c</a>
                <a href="/create">D</a>
                <a href="/create">d</a>
                <a href="/create">E</a>
                <a href="/create">e</a>
                <a href="/create">F</a>
                <a href="/create">f</a>
                <a href="/create">G</a>
                <a href="/create">g</a>
                <a href="/create">H</a>
                <a href="/create">h</a>
                <a href="/create">I</a>
                <a href="/create">i</a>
                <a href="/create">J</a>
                <a href="/create">j</a>
                <a href="/create">K</a>
                <a href="/create">k</a>
                <a href="/create">L</a>
                <a href="/create">l</a>
                <a href="/create">M</a>
                <a href="/create">m</a>
                <a href="/create">N</a>
                <a href="/create">n</a>
                <a href="/create">O</a>
                <a href="/create">o</a>
                <a href="/create">P</a>
                <a href="/create">p</a>
                <a href="/create">Q</a>
                <a href="/create">q</a>
                <a href="/create">R</a>
                <a href="/create">r</a>
                <a href="/create">S</a>
                <a href="/create">s</a>
                <a href="/create">T</a>
                <a href="/create">t</a>
                <a href="/create">U</a>
                <a href="/create">u</a>
                <a href="/create">V</a>
                <a href="/create">v</a>
                <a href="/create">W</a>
                <a href="/create">w</a>
                <a href="/create">X</a>
                <a href="/create">x</a>
                <a href="/create">Y</a>
                <a href="/create">y</a>
                <a href="/create">Z</a>
                <a href="/create">z</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 m-1 bg-primary" style="padding: 1%;">
                <div class="d-flex justify-content-center" style="padding: 26%; background: white;">
                    <h1>Draw image</h1>
                </div>


            </div>
        </div>

    </div>

</div>
{% endblock %}
