{% extends 'base.html' %}
{% block content %}
<div class="row d-flex justify-content-center my-3">
    <div class="col-2 m-1 bg-primary">
        <p>Your keys</p>
        <p>1. Gallifreyan</p>
        <p>2. Wave script</p>
        <button class="btn btn-secondary" type="button">
            New Cipher
        </button>

    </div>
    <div class="col-9 m-1">
        <div class="row ">
            <div class="col-12 m-1 p-2 bg-primary ">
                <button class="btn btn-secondary mx-1" type="button">
                    Font Size
                </button>
                <button class="btn btn-secondary mx-1" type="button">
                    Image Size
                </button>
                <button class="btn btn-secondary mx-1" type="button">
                    Image Format
                </button>
                <button class="btn btn-secondary mx-1" type="button">
                    Background
                </button>
                <button class="btn btn-secondary mx-1" type="button">
                    Download Encoded Image
                </button>
                <button class="btn btn-secondary mx-1" type="button">
                    Ad. Tools
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-12 m-1 bg-primary" style="padding: 1%;">
                <div class="d-flex justify-content-center" style="padding: 12%; background: white;">
                    <h1>Type text here</h1>
                </div>


            </div>
        </div>
        <div class="row">
            <div class="col-12 m-1 bg-primary" style="padding: 1%;">
                <div class="d-flex justify-content-center" style="padding: 12%; background: white;">
                    <h1>Image of Translation</h1>
                </div>


            </div>
        </div>

    </div>

</div>
{% endblock %}
