{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-12 m-3">
        <div class="card">
          <img src="https://www.brynmawr.edu/sites/default/files/styles/article_main/public/code1.jpg?itok=yt6RDht1&c=de8237d09902440a82ec6568684f88dc" styles="height: 50%; width: 70%;" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Create your own Ciphers!</h5>
            <p class="card-text">Learn about how ciphers and other cryptography are created.</p>
          </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">



<form>
  <div class="row my-3 mx-1 p-3 bg-primary">
      <div class="col-12 md-2">
          <div class="row d-flex justify-content-center">
              <div class="col-12 d-flex justify-content-center">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNdbqwcLQQTaalGBpZ3zYg_0vDTy-5z1oHFUvRY49Irb7LfJI9&s" styles="height: 50%; width: 70%;" alt="...">
              </div>
          </div>
      </div>
      <div class="col-12">
      <div class="row">
    <div class="col-10">
      <input type="text" class="form-control" placeholder="Your Translation">
    </div>
    <div class="col-2">
        <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-secondary">Check answer</button>
      </div>
      </div>
      </div>
    </div>
    </div>
    <div class="row mb-3 mx-1 p3 bg-primary">
        <div class="col-4">
            <a href="/create"><img src="/static/4bc301cf8a8e55cb165d8a1bf779e52b.png" style="height: 400px; width: 500px; background: white;" alt="..."></a>
        </div>
        <div class="col-8">
            <p>Create your own symbols! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Massa sed elementum tempus egestas sed sed risus. Et tortor consequat id porta nibh venenatis. Pharetra vel turpis nunc eget lorem dolor sed. Et odio pellentesque diam volutpat commodo. Ipsum dolor sit amet consectetur adipiscing elit. In est ante in nibh mauris cursus mattis molestie. Elit duis tristique sollicitudin nibh sit amet. Placerat vestibulum lectus mauris ultrices eros in. A arcu cursus vitae congue mauris rhoncus aenean. Purus sit amet volutpat consequat mauris. Mattis pellentesque id nibh tortor. Praesent elementum facilisis leo vel fringilla est ullamcorper. Venenatis a condimentum vitae sapien pellentesque habitant morbi tristique. Nisi quis eleifend quam adipiscing vitae proin.

Suspendisse ultrices gravida dictum fusce ut. Sed risus ultricies tristique nulla aliquet enim tortor at auctor. Rhoncus dolor purus non enim praesent elementum facilisis. Donec massa sapien faucibus et molestie ac. Accumsan in nisl nisi scelerisque. Urna nunc id cursus metus aliquam eleifend mi. Fames ac turpis egestas sed tempus urna et. Amet venenatis urna cursus eget. Pharetra magna ac placerat vestibulum lectus mauris ultrices eros in. Tincidunt augue interdum velit euismod in pellentesque massa. Id diam maecenas ultricies mi eget mauris pharetra et. Vel elit scelerisque mauris pellentesque pulvinar pellentesque. Pharetra massa massa ultricies mi quis hendrerit. Ut porttitor leo a diam sollicitudin. Arcu ac tortor dignissim convallis aenean et tortor at. Ac ut consequat semper viverra nam libero justo. Ante in nibh mauris cursus mattis. Nisl pretium fusce id velit ut tortor. In egestas erat imperdiet sed euismod nisi porta lorem mollis. Lacus viverra vitae congue eu consequat ac.

Eget mauris pharetra et ultrices neque ornare aenean euismod. Habitant morbi tristique senectus et. Dictum non consectetur a erat nam at lectus. In dictum non consectetur a erat nam at lectus. Pulvinar pellentesque habitant morbi tristique senectus. Penatibus et magnis dis parturient montes nascetur. Quisque egestas diam in arcu cursus. Nec sagittis aliquam malesuada bibendum arcu vitae elementum curabitur vitae. Ligula ullamcorper malesuada proin libero. Egestas sed sed risus pretium quam vulputate dignissim suspendisse in. Scelerisque eu ultrices vitae auctor eu. Mauris a diam maecenas sed. Amet est placerat in egestas erat imperdiet sed. A lacus vestibulum sed arcu non odio euismod. Pharetra convallis posuere morbi leo urna molestie at elementum eu.

</p>

        </div>
    </div>
    <div class="row mb-3 mx-1 p3 bg-primary">
        <div class="col-4">
            <a href="/encode"><img src="/static/Image 1.png" style="height: 400px; width: 500px; background: white;" alt="..."></a>
        </div>
        <div class="col-8">
            <p>Create your own ciphers! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Massa sed elementum tempus egestas sed sed risus. Et tortor consequat id porta nibh venenatis. Pharetra vel turpis nunc eget lorem dolor sed. Et odio pellentesque diam volutpat commodo. Ipsum dolor sit amet consectetur adipiscing elit. In est ante in nibh mauris cursus mattis molestie. Elit duis tristique sollicitudin nibh sit amet. Placerat vestibulum lectus mauris ultrices eros in. A arcu cursus vitae congue mauris rhoncus aenean. Purus sit amet volutpat consequat mauris. Mattis pellentesque id nibh tortor. Praesent elementum facilisis leo vel fringilla est ullamcorper. Venenatis a condimentum vitae sapien pellentesque habitant morbi tristique. Nisi quis eleifend quam adipiscing vitae proin.

Suspendisse ultrices gravida dictum fusce ut. Sed risus ultricies tristique nulla aliquet enim tortor at auctor. Rhoncus dolor purus non enim praesent elementum facilisis. Donec massa sapien faucibus et molestie ac. Accumsan in nisl nisi scelerisque. Urna nunc id cursus metus aliquam eleifend mi. Fames ac turpis egestas sed tempus urna et. Amet venenatis urna cursus eget. Pharetra magna ac placerat vestibulum lectus mauris ultrices eros in. Tincidunt augue interdum velit euismod in pellentesque massa. Id diam maecenas ultricies mi eget mauris pharetra et. Vel elit scelerisque mauris pellentesque pulvinar pellentesque. Pharetra massa massa ultricies mi quis hendrerit. Ut porttitor leo a diam sollicitudin. Arcu ac tortor dignissim convallis aenean et tortor at. Ac ut consequat semper viverra nam libero justo. Ante in nibh mauris cursus mattis. Nisl pretium fusce id velit ut tortor. In egestas erat imperdiet sed euismod nisi porta lorem mollis. Lacus viverra vitae congue eu consequat ac.

Eget mauris pharetra et ultrices neque ornare aenean euismod. Habitant morbi tristique senectus et. Dictum non consectetur a erat nam at lectus. In dictum non consectetur a erat nam at lectus. Pulvinar pellentesque habitant morbi tristique senectus. Penatibus et magnis dis parturient montes nascetur. Quisque egestas diam in arcu cursus. Nec sagittis aliquam malesuada bibendum arcu vitae elementum curabitur vitae. Ligula ullamcorper malesuada proin libero. Egestas sed sed risus pretium quam vulputate dignissim suspendisse in. Scelerisque eu ultrices vitae auctor eu. Mauris a diam maecenas sed. Amet est placerat in egestas erat imperdiet sed. A lacus vestibulum sed arcu non odio euismod. Pharetra convallis posuere morbi leo urna molestie at elementum eu.

</p>
        </div>
    </div>
    <div class="row mb-3 mx-1 p3 bg-primary">
        <div class="col-4">
            <a href="/decode"><img src="/static/Image 3.png" style="height: 400px; width: 500px; background: white;" alt="..."></a>
        </div>
        <div class="col-8">
            <p>Decode Ciphers you have the key to! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Massa sed elementum tempus egestas sed sed risus. Et tortor consequat id porta nibh venenatis. Pharetra vel turpis nunc eget lorem dolor sed. Et odio pellentesque diam volutpat commodo. Ipsum dolor sit amet consectetur adipiscing elit. In est ante in nibh mauris cursus mattis molestie. Elit duis tristique sollicitudin nibh sit amet. Placerat vestibulum lectus mauris ultrices eros in. A arcu cursus vitae congue mauris rhoncus aenean. Purus sit amet volutpat consequat mauris. Mattis pellentesque id nibh tortor. Praesent elementum facilisis leo vel fringilla est ullamcorper. Venenatis a condimentum vitae sapien pellentesque habitant morbi tristique. Nisi quis eleifend quam adipiscing vitae proin.

Suspendisse ultrices gravida dictum fusce ut. Sed risus ultricies tristique nulla aliquet enim tortor at auctor. Rhoncus dolor purus non enim praesent elementum facilisis. Donec massa sapien faucibus et molestie ac. Accumsan in nisl nisi scelerisque. Urna nunc id cursus metus aliquam eleifend mi. Fames ac turpis egestas sed tempus urna et. Amet venenatis urna cursus eget. Pharetra magna ac placerat vestibulum lectus mauris ultrices eros in. Tincidunt augue interdum velit euismod in pellentesque massa. Id diam maecenas ultricies mi eget mauris pharetra et. Vel elit scelerisque mauris pellentesque pulvinar pellentesque. Pharetra massa massa ultricies mi quis hendrerit. Ut porttitor leo a diam sollicitudin. Arcu ac tortor dignissim convallis aenean et tortor at. Ac ut consequat semper viverra nam libero justo. Ante in nibh mauris cursus mattis. Nisl pretium fusce id velit ut tortor. In egestas erat imperdiet sed euismod nisi porta lorem mollis. Lacus viverra vitae congue eu consequat ac.

Eget mauris pharetra et ultrices neque ornare aenean euismod. Habitant morbi tristique senectus et. Dictum non consectetur a erat nam at lectus. In dictum non consectetur a erat nam at lectus. Pulvinar pellentesque habitant morbi tristique senectus. Penatibus et magnis dis parturient montes nascetur. Quisque egestas diam in arcu cursus. Nec sagittis aliquam malesuada bibendum arcu vitae elementum curabitur vitae. Ligula ullamcorper malesuada proin libero. Egestas sed sed risus pretium quam vulputate dignissim suspendisse in. Scelerisque eu ultrices vitae auctor eu. Mauris a diam maecenas sed. Amet est placerat in egestas erat imperdiet sed. A lacus vestibulum sed arcu non odio euismod. Pharetra convallis posuere morbi leo urna molestie at elementum eu.

</p>
        </div>
    </div>
</form>
</div>
</div>
{% endblock %}
