{% extends 'base.html' %}
{% block content %}

<div class="bg-primary my-3" style="padding:20%;">
    <div class="row my-3 mx-1 p-3 bg-secondary d-flex justify-content-center">
        <div class="col-12">
        <div class="row d-flex justify-content-center">

<div class="d-flex justify-content-center mt-2">


                    <h3 class="text-light">Username: </h3>


        <input type="text" class="form-control" placeholder="Your Username">
</div>
        </div>
        <div class="row d-flex justify-content-center">

<div class="d-flex justify-content-center m-2">


                    <h3 class="text-light">Password: </h3>
              <input type="text" class="form-control" placeholder="Your Password">
</div>

        </div>
      </div>
       <a class="btn btn-primary btn-lg" href="#" role="button">Login</a>
      </div>
  </div>

</div>
{% endblock %}
